body{
    margin-top: 5%;
    background-color: blanchedalmond;
}
.cal{
    padding: 20px;
    background-color: black;
    border-radius: 20px;
}
input[type="button"]{
    width: 100%;
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 10px;
}
.key:hover{
    background-color:dimgray;
    border-color: white;
}
input[type="text"]{
    width: 100%;
    padding: 20px 0px;
    border-radius: 10px;
    font-size: 30px;
}
.equal{
    background-color: green;
}
.equal:hover{
    border-color: white;
}
.assignment{
    background-color: cyan;
}
.assignment:hover{
    border-color: white;
}